.infinitum * {
/*    transition-duration: 1s !important;*/
}

.infinitum__track {
    position: relative;

    transition: transform 0.5s ease-out;
    transition-timing-function: cubic-bezier(.35, .35, .35, 1);
    will-change: transform;
}

    .infinitum__item {
        opacity: 1;

        transition-property: opacity, color, background, filter;
        transition-timing-function: cubic-bezier(.35, .35, .35, 1);
        transition-timing-function: ease-out;
        transition-duration: 0.5s;
        will-change: opacity;
    }

    .infinitum__item--hide {
        opacity: 0;

        transition-duration: 0.2s;
        transition-timing-function: ease;
    }

    .infinitum__track--slow .infinitum__item {
        transition-duration: 0.65s;
    }

    .infinitum__track--slow .infinitum__item--hide {
        transition-duration: 0.3s;
    }

    .infinitum__track--medium infinitum__item {
        transition-duration: 0.5s;
    }

    .infinitum__track--medium infinitum__item--hide {
        transition-duration: 0.2s;
    }

    .infinitum__track--fast .infinitum__item {
        transition-duration: 0.35s;
    }

    .infinitum__track--fast .infinitum__item--hide {
        transition-duration: 0.1s;
    }

    .infinitum .infinitum__item--current,
    .infinitum .infinitum__item--current * {
	    color: white;
	    background: black;
        filter: grayscale(0);
    }
